
body,html{
    background-color: #b3e5fc   ;
    background-image: linear-gradient(to bottom, #b3e5fc  , #eceff1  100%);
    background-attachment: fixed;
    height: 100%;
}

#main{
  padding: 0 0 0 25%;
}
#sidebar{
  height:100%;
  width:25%;
  position: fixed;
}

#sidebar .collection{
  margin: 0 0 0 0;
}
.courses{
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}

.courses  ul.collapsible-accordion{
  border-right:0;
  border-left:0;
}

.group-header{
  border-right:0;
  border-left:0;
}

.group-title{
  float:left;
}

li.major{
  border-bottom: 0 !important;  
}

.percent{
  float:right;
  color:lightgray;  
  font-size: 1.3rem;
  line-height: 2.104rem;
}

.tabs{
  border-top: 1px solid #e0e0e0;
}

.tabs .tab a{
  color:black;
}

.tabs .tab a:hover{
  color:lightgray;
}

.tabs .indicator {
  background-color:#26a69a;
} 
/*.side-nav.fixed {
    left: 0;
    position: relative;
    width: 100%;
}*/

/*ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
}

.bold{
  font-weight: bold;
}*/

/*
#degrees{
  padding-top:10px;
  margin-right:-10px;
  margin-left:-10px;
}

#header nav, nav ul a{
  color:black;  
}

#header nav > .nav-wrapper{
  margin-left:10px;
  margin-right:10px;
}*/

#logo{
  margin-left:-10px;
  margin-right:-10px;
}

#logo img {
  width:20%;
  margin-top:10px;
  margin-bottom:10px;
}

/*#main{
  height:100%;
  margin: 0;
}

#sidebar{
  height: 100%;
  position: relative;
}

#sidebar-search, #sidebar-search .nav-wrapper i,
#sidebar-search a.button-collapse, #sidebar-search a.button-collapse i {
  height:36px;
  line-height:36px;
}
#planner{
  padding: 0;
}

#planner .container li{
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

#planner li.checked {
  color: #888;
}

#planner li.checked .text {
  text-decoration: line-through;
}

#sidebar > .collapsible{
  margin-right: -11px;
  margin-left: -11px;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.login-button {
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ui-accordion .ui-accordion-content{
  padding:5px;
  background-color:#cfd8dc;
}*/